@model IEnumerable<RAP.UI.Models.AnalyzeViewModel>

@{
    ViewBag.Title = "Analyzes List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section styles{
    @Styles.Render("~/Content/datatables")
}

<h2>Analyzes List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parameters)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parameters)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.PatientId)*@
                @Html.ActionLink(item.Patient.FName + " " + item.Patient.LName, "Details", "Patients", new { id = item.PatientId }, null)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Employee.LName)*@
                @Html.ActionLink(item.Employee.FName + " " + item.Employee.LName, "Details", "Employees", new { id = item.EmployeeId }, null)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
        }
    </tbody>

    </table>

@section scripts{
    @Scripts.Render("~/bundles/datatables")
}
