@model IEnumerable<RAP.UI.Models.EmployeeViewModel>

@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    @Styles.Render("~/Content/datatables")
}

<h2>Employees List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.Photo != null)
                {
                    string fullPath = ViewBag.PathToDirectory + item.Photo;

                    <img src=@fullPath width="60" />
                }
                else
                {
                    string fullPath = ViewBag.PathToDirectory + "DefaultEmployeePhoto.jpg";

                    <img src=@fullPath width="60" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
        </tr>
    }

</table>

@section scripts{
    @Scripts.Render("~/bundles/datatables")
}
