@model IEnumerable<RAP.UI.Models.PatientViewModel>

@foreach (var item in Model)
{
    string allAddress = $"{item.Address.Flat}, {item.Address.Home}, {item.Address.Street}, {item.Address.City}";
    string allAddress2 = $"{item.Address2.Flat}, {item.Address2.Home}, {item.Address2.Street}, {item.Address2.City}";

<tr>
    <td>
        @Html.DisplayFor(modelItem => item.FName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Phone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @allAddress
    </td>
    <td>
        @allAddress2
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "formEdit" }) |
        @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
    </td>
</tr>
}
