@model IEnumerable<RAP.UI.Models.PatientViewModel>

@{
    ViewBag.Title = "Patients";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section styles{
    @Styles.Render("~/Content/datatables")
}

<h2>Patients List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address2)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            string allAddress = $"{item.Address.Flat}, {item.Address.Home}, {item.Address.Street}, {item.Address.City}";
            string allAddress2 = $"{item.Address2.Flat}, {item.Address2.Home}, {item.Address2.Street}, {item.Address2.City}";

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @allAddress
                </td>
                <td>
                    @allAddress2
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    @Scripts.Render("~/bundles/datatables")
}




